// Margin
// --------------------------------
.u-mar {

  &-btm {

    &--lrg {
      margin-bottom: spacing-unit("large") !important;
    }
  }
}


// Text-align
// --------------------------------
.u-txt-aln {

  &--ctr {
    text-align: center !important;
  }
}


// Font-size
// --------------------------------
.u-fnt-sze {

  &--lrg {
    font-size: font-size("large") !important;
  }
}


// Color
// --------------------------------
.u-clr {

  &--wht {
    color: white !important;
  }
}
